.slider-container {
  position: relative;
  height: 660px;
  width:770px;  
  user-select: none;
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
  overflow:hidden;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.slider-control.inactive:hover { cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important; }

.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}

.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}

.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}

.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.slide:nth-child(1) { left: 0; }

.slide:nth-child(1) .slide__bg {
  left: 0;
}

.slide:nth-child(1) .slide__overlay-path { fill: #e99c7e; }
@media (max-width: 991px) {

.slide:nth-child(1) .slide__text { background-color: rgba(233, 156, 126, 0.8); }
}

.slide:nth-child(2) { left: 100%; }

.slide:nth-child(2) .slide__bg {
  left: -50%;
}

.slide:nth-child(2) .slide__overlay-path { fill: #e1ccae; }
@media (max-width: 991px) {

.slide:nth-child(2) .slide__text { background-color: rgba(225, 204, 174, 0.8); }
}

.slide:nth-child(3) { left: 200%; }

.slide:nth-child(3) .slide__bg {
  left: -100%;
}

.slide:nth-child(3) .slide__overlay-path { fill: #adc5cd; }
@media (max-width: 991px) {

.slide:nth-child(3) .slide__text { background-color: rgba(173, 197, 205, 0.8); }
}

.slide:nth-child(4) { left: 300%; }

.slide:nth-child(4) .slide__bg {
  left: -150%;
}

.slide:nth-child(4) .slide__overlay-path { fill: #cbc6c3; }
@media (max-width: 991px) {

.slide:nth-child(4) .slide__text { background-color: rgba(203, 198, 195, 0.8); }
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
@media (max-width: 991px) {

.slide__overlay { display: none; }
}

.slide__overlay path { opacity: 0.8; }

.slide__text {
  position: absolute;
  width: 60%;
  bottom: 10%;
  left: 12%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  z-index:2;
}
@media (max-width: 991px) {

.slide__text {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20rem;
  text-align: center;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: -webkit-transform 0.5s 0.5s, opacity 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
  padding: 0 1rem;
}
}
.slide__text a{
	font-size: 50px;
	text-align: left;
    text-transform: uppercase;
	font-family: Montserrat;
    letter-spacing: 0px;
	text-decoration: none;
    color: #fff;
}
.slide__text-heading {
  font-family: "roboto", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {

.slide__text-heading {
  line-height: 20rem;
  font-size: 3.5rem;
}
}

.slide__text-desc {
  font-family: "roboto", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
  font-family: "roboto", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.slider .senka:before{ 
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px -276px 81px -8px rgba(34,34,34,0.9);
    z-index: 1;
    transition: all 0.3s ease;
    border-radius: 0;
}